html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: #fff;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  background: linear-gradient(101.56deg, #9069FF 1.56%, #1C1C1C 95.55%);
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.btn {
  padding: 13px 38px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  background: linear-gradient(87.32deg, #FEFFCA 4.47%, #FAFE4D 95.53%);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn:hover {
  -webkit-box-shadow: 0px 2px 13px rgba(250, 254, 77, 0.48);
          box-shadow: 0px 2px 13px rgba(250, 254, 77, 0.48);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 26px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info {
  white-space: nowrap;
}
.header__text {
  display: block;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 27px;
}
.header__title, .header__name {
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
  margin-bottom: 27px;
}
.header__desc {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 27px;
}
.header__photo {
  -webkit-filter: drop-shadow(0px 0px 100px #FDFFB8);
          filter: drop-shadow(0px 0px 100px #FDFFB8);
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  margin-bottom: 40px;
}
.menu__logo {
  height: 60px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding: 3px;
}
.menu__item {
  border-bottom: 2px solid transparent;
  padding: 3px 6px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.menu__item:hover {
  border-bottom: 2px solid #FAFE4D;
}
.menu__burger {
  display: none;
}

.skills {
  padding-top: 20px;
  padding-bottom: 100px;
  background: linear-gradient(88.23deg, #777777 1.69%, #343434 57.75%);
}
.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}
.skills__item {
  width: 110px;
  height: 110px;
  padding: 16px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border-radius: 29px;
  text-align: center;
  background: #2A2A2A;
}
.skills__icon {
  width: 50px;
  height: 50px;
}

.about {
  position: relative;
  padding-bottom: 100px;
  padding-top: 50px;
  background: url("../img/about-bg.png") center/contain no-repeat, linear-gradient(88.23deg, #777777 1.69%, #343434 57.75%);
}
.about__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: 0 auto;
  max-width: 1100px;
  border-radius: 14px;
  background-color: #2C2C2C;
}
.about__photo-right img, .about__photo-left img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}
.about__photo-left {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 30%;
  border-radius: 14px;
  padding: 20px;
  background-color: #2C2C2C;
}
.about__photo-right {
  position: absolute;
  right: -50px;
  top: 100px;
  width: 30%;
  border-radius: 14px;
  padding: 20px;
  background-color: #2C2C2C;
}
.about__info {
  width: 499px;
  text-align: justify;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
}
.about__info > p {
  margin-bottom: 20px;
}

.portfolio {
  padding-bottom: 100px;
  padding-top: 50px;
}
.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.card {
  position: relative;
  cursor: pointer;
  width: 575px;
  height: 272px;
}
.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
}
.card__img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.card__front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}
.card__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background-color: #2C2C2C;
}
.card__content {
  padding: 10px;
  text-align: center;
}
.card__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}
.card__desc {
  font-size: 26px;
  line-height: 30px;
}
.card:hover > .card__front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .card__back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.contacts {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../img/contacts-bg.png") center/contain no-repeat, linear-gradient(88.23deg, #777777 1.69%, #343434 57.75%);
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.contacts__icon {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.contacts__icon:hover {
  opacity: 1;
}
.contacts__form {
  max-width: 600px;
  text-align: justify;
}
.contacts__form-text {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
}
.contacts__form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.contacts__form-input, .contacts__form-textarea {
  padding: 15px;
  border-radius: 14px;
  border: none;
  font-size: 26px;
  line-height: 30px;
  color: #FAFE4D;
  background-color: #2A2A2A;
}
.contacts__form-input._error, .contacts__form-textarea._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}
.contacts__form-input {
  width: 49%;
}
.contacts__form-textarea {
  min-height: 144px;
  width: 100%;
  margin-bottom: 20px;
  resize: none;
}
.contacts__form-btn {
  width: 100%;
  margin-bottom: 40px;
}
.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8) url("../img/loading.gif") center/100px no-repeat;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}

.footer {
  height: 40px;
  text-align: center;
  background-color: #242424;
}
.footer__text {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.arrow-up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  opacity: 0.5;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.arrow-up:hover {
  opacity: 1;
}

@media (max-width: 1280px) {
  .header__content {
    gap: 60px;
  }
  .header__photo {
    width: 40%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .about__inner {
    display: block;
    padding: 20px;
  }
  .about__photo-left {
    position: static;
    float: right;
    padding: 0;
    padding-left: 20px;
    width: 38%;
  }
  .about__photo-right {
    display: none;
  }
  .about__info {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
  }
}
@media (max-width: 992px) {
  .header__text {
    font-size: 36px;
    line-height: 38px;
  }
  .header__title, .header__name {
    font-size: 38px;
    line-height: 44px;
  }
  .header__info {
    margin-bottom: 30px;
  }
  .header__photo {
    -ms-flex-item-align: end;
        align-self: end;
  }

  .menu {
    gap: 56px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .menu {
    margin-bottom: 20px;
  }
  .menu__logo {
    z-index: 10;
  }
  .menu__burger {
    display: block;
    z-index: 10;
  }
  .menu__burger-line {
    display: block;
    width: 30px;
    height: 2px;
    opacity: 1;
    background-color: #fff;
  }
  .menu__burger::before, .menu__burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 4px 0;
    background-color: #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .menu__burger.active::after {
    -webkit-transform: translateY(-6px) rotate(-135deg);
            transform: translateY(-6px) rotate(-135deg);
  }
  .menu__burger.active::before {
    -webkit-transform: translateY(6px) rotate(135deg);
            transform: translateY(6px) rotate(135deg);
  }
  .menu__burger.active .menu__burger-line {
    opacity: 0;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
  }
  .menu__list {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    height: 100vh;
    padding: 110px 0 80px 0;
    font-size: 50px;
    line-height: 70px;
    z-index: 5;
    opacity: 0;
    background-color: #242424;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .menu__list.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  .header {
    padding-top: 20px;
  }
  .header__content {
    gap: 10px;
  }
  .header__text, .header__title, .header__name {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
  }
  .header__photo {
    width: 50%;
  }

  .skills {
    padding-bottom: 20px;
  }

  .about {
    padding: 20px 0 40px;
  }
  .about__photo-left {
    width: 50%;
  }

  .portfolio {
    padding: 20px 0 40px;
  }

  .contacts {
    padding: 20px;
  }
  .contacts__form-btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 648px) {
  .portfolio__cards {
    gap: 24px;
  }

  .card {
    width: 500px;
    height: 250px;
  }

  .contacts__form-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .contacts__form-input {
    width: 100%;
  }
  .contacts__form-input + .contacts__form-input {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__photo {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }
  .header__text, .header__title, .header__name {
    font-size: 50px;
    line-height: 46px;
  }

  .about__photo-left {
    width: 100%;
    margin: 0 auto;
    float: none;
    padding-left: 0;
    padding-bottom: 10px;
  }

  .card {
    width: 420px;
    height: 210px;
  }

  .arrow-up {
    bottom: 3%;
  }
  .arrow-up img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 490px) {
  .header__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header__text, .header__title, .header__name {
    font-size: 36px;
    line-height: 38px;
  }

  .card {
    width: 300px;
    height: 150px;
  }
  .card__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .card__desc {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .header__text, .header__title, .header__name {
    font-size: 28px;
    line-height: 24px;
  }

  .card {
    width: 240px;
    height: 120px;
  }
}
